.callout {
    max-width: 150px;
    width: 150px;
    margin: 10px;
    padding: 1 em;
    background-color: darkorange;
    text-decoration-color: white;
}

.callout img {
    position
}

blockquote {}

cite {}