:root {
    --heading-background-color: rgb(29, 99, 84);
    --border-color: rgb(140, 157, 165);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}

main {
    max-width: 840px;
    margin-top: 100px;

}

aside {
    width: 100%;
    margin: 10px;
    border: 30px solid var(--heading-background-color);
    padding: 30px;
    background-color: var(--border-color);
    color: rgb(0, 0, 0);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}

p {
    padding: 0;
    text-align: center;
}

footer {
    margin-top: 100px;
    border-top: 10px solid var(--heading-background-color);
    text-align: center;
}