:root {
    --heading-background-color: rgb(120, 146, 170);
    --border-color: rgb(148, 151, 155);
    --text-color: rgb(0, 0, 0);
    --text-link-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: var(--text-link-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
    text-align: center;
    padding: 5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--border-color);
    float: right;
    margin: 0 0 1rem 1rem;

}

main {
    max-width: 840px;
    margin-top: 100px;

}

aside {
    width: 50em;
    /*
    margin: 10px;
    border: 30px solid var(--heading-background-color);
    padding: 30px;
    background-color: var(--border-color);
    color: var(--text-color); */
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 1px;
    left: 10px;
}

p {
    margin: 1rem;
    padding: 0;
    text-align: center;
}

footer {
    margin-top: 100px;
    border-top: 10px solid var(--heading-background-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: var(--text-color);
}

.indent {
    padding-left: 2rem;
}