nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 100%;
    margin: 10px;
    border: 30px solid rgb(133, 123, 170);
    padding: 30px;
    background-color: rgb(149, 183, 192);
    color: rgb(0, 0, 0);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}

footer {
    margin-top: 100px;
    border-top: 10px solid #6e2121;
    text-align: center;
}

main {
    margin-top: 100px;

}