.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 15;
    background-color: rgba(34,68,119,255);
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px soled rgba(52,62,76,255);
    padding: 3px;
    background-color: white;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted rgb(255, 255, 255);
    text-align: right;
    font-size: smaller;
}